/* -------------------------------------------------------------- 
   
   grid.css
   * Sets up an easy-to-use grid of 24 columns.
   
   By default, the grid is 59.375em (950px) wide, with 24 columns 
   spanning 1.875em (30px), and a .625em (10px) margin between columns.
   
   If you need fewer or more columns, namespaces or semantic
   element names, use the compressor script (lib/compress.rb)
   
   Note: Changes made in this file will not be applied when
   using the compressor: make changes in lib/blueprint/grid.css.rb
   
-------------------------------------------------------------- */

/* A container should group all your columns. */
.container {
  width: 59.375em;
  margin: 0 auto;
}

/* Use this class on any .span / container to see the grid. */
.showgrid { background: url(src/grid.png);  }


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, 
div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, 
div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, 
div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, 
div.span-21, div.span-22, div.span-23, div.span-24 {
  float: left;
  margin-right: 0.625em; 
}

/* The last column in a row needs this class. */
.last, div.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1  { width: 1.875em; }
.span-2  { width: 4.375em; }
.span-3  { width: 6.875em; }
.span-4  { width: 9.375em; }
.span-5  { width: 11.875em; }
.span-6  { width: 14.375em; }
.span-7  { width: 16.875em; }
.span-8  { width: 19.375em; }
.span-9  { width: 21.875em; }
.span-10 { width: 24.375em; }
.span-11 { width: 26.875em; }
.span-12 { width: 29.375em; }
.span-13 { width: 31.875em; }
.span-14 { width: 34.375em; }
.span-15 { width: 36.875em; }
.span-16 { width: 39.375em; }
.span-17 { width: 41.875em; }
.span-18 { width: 44.375em; }
.span-19 { width: 46.875em; }
.span-20 { width: 49.375em; }
.span-21 { width: 51.875em; }
.span-22 { width: 54.375em; }
.span-23 { width: 56.875em; }
.span-24 { width: 59.375em; margin: 0; }

/* Add these to a column to append empty cols. */
.append-1  { padding-right: 2.5em; }  
.append-2  { padding-right: 5em; } 
.append-3  { padding-right: 7.5em; } 
.append-4  { padding-right: 10em; } 
.append-5  { padding-right: 12.5em; } 
.append-6  { padding-right: 15em; } 
.append-7  { padding-right: 17.5em; } 
.append-8  { padding-right: 20em; } 
.append-9  { padding-right: 22.5em; } 
.append-10 { padding-right: 25em; } 
.append-11 { padding-right: 27.5em; } 
.append-12 { padding-right: 30em; } 
.append-13 { padding-right: 32.5em; } 
.append-14 { padding-right: 35em; } 
.append-15 { padding-right: 37.5em; } 
.append-16 { padding-right: 40em; } 
.append-17 { padding-right: 42.5em; } 
.append-18 { padding-right: 45em; } 
.append-19 { padding-right: 47.5em; } 
.append-20 { padding-right: 50em; } 
.append-21 { padding-right: 52.5em; } 
.append-22 { padding-right: 55em; } 
.append-23 { padding-right: 57.5em; } 

/* Add these to a column to prepend empty cols. */
.prepend-1  { padding-left: 2.5em; }  
.prepend-2  { padding-left: 5em; } 
.prepend-3  { padding-left: 7.5em; } 
.prepend-4  { padding-left: 10em; } 
.prepend-5  { padding-left: 12.5em; } 
.prepend-6  { padding-left: 15em; } 
.prepend-7  { padding-left: 17.5em; } 
.prepend-8  { padding-left: 20em; } 
.prepend-9  { padding-left: 22.5em; } 
.prepend-10 { padding-left: 25em; } 
.prepend-11 { padding-left: 27.5em; } 
.prepend-12 { padding-left: 30em; } 
.prepend-13 { padding-left: 32.5em; } 
.prepend-14 { padding-left: 35em; } 
.prepend-15 { padding-left: 37.5em; } 
.prepend-16 { padding-left: 40em; } 
.prepend-17 { padding-left: 42.5em; } 
.prepend-18 { padding-left: 45em; } 
.prepend-19 { padding-left: 47.5em; } 
.prepend-20 { padding-left: 50em; } 
.prepend-21 { padding-left: 52.5em; } 
.prepend-22 { padding-left: 55em; } 
.prepend-23 { padding-left: 57.5em; } 


/* Border on right hand side of a column. */
div.border {
  padding-right: .25em;
  margin-right: .3125em;
  border-right: .0625em solid #eee;
}

/* Border with more whitespace, spans one column. */
div.colborder {
  padding-right: 1.5em;
  margin-right: 1.5625em;
  border-right: .0625em solid #eee;
}


/* Use these classes on an element to push it into the 
   next column, or to pull it into the previous column.  */

.pull-1 { margin-left: -2.5em; }
.pull-2 { margin-left: -5em; }
.pull-3 { margin-left: -7.5em; }
.pull-4 { margin-left: -10em; }
.pull-5 { margin-left: -12.5em; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5 {
  float:left;
	position:relative;
}

.push-1 { margin: 0 -2.5em 1.5em 2.5em; }
.push-2 { margin: 0 -5em 1.5em 5em; }
.push-3 { margin: 0 -7.5em 1.5em 7.5em; }
.push-4 { margin: 0 -10em 1.5em 10em; }
.push-5 { margin: 0 -12.5em 1.5em 12.5em; }

.push-1, .push-2, .push-3, .push-4, .push-5 { 
  float: right;
	position:relative;
}


/* Misc classes and elements
-------------------------------------------------------------- */

/* In case you need to add a gutter above/below an element */
.prepend-top { 
	margin-top:1.5em; 
}
.append-bottom { 
	margin-bottom:1.5em; 
}

/* Use a .box to create a padded box inside a column.  */ 
.box { 
  padding: 1.5em; 
  margin-bottom: 1.5em; 
  background: #E5ECF9; 
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd; 
  color: #ddd;
  clear: both; 
  float: none; 
  width: 100%; 
  height: .1em;
  margin: 0 0 1.45em;
  border: none; 
}
hr.space {
  background: #fff;
  color: #fff;
}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
    content: "\0020"; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
    overflow:hidden; 
}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }
